.address {
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link {
  color: var(--footer-address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link--map {
  text-decoration: none;
  color: var(--thirdy-color);
  font-size: var(--primary-font-size);
  line-height: 1.7;
}
