.btn {
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  color: var(--thirdy-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.btn--subscribe {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-top: 0;
  gap: 10px;
}

.btn--modal {
  padding: 10px 52px;
  margin-top: 0;
}

.btn--filters {
  padding: 6px 22px;
  margin-top: 0;
  background-color: var(--light-color);
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-width: 0;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--thirdy-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
