.features__item:not(:first-child) {
  margin-top: 30px;
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--light-color);
  border-radius: 4px;
}

.features__subtitle {
  text-align: center;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 30px;
}

.features__descr {
  font-size: var(--primary-font-size);
  line-height: 1.7;
  margin-top: 10px;
}
