.footer {
  background-color: var(--dark-color);
  padding: 60px 0;
  text-align: center;
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 165px;
    align-items: baseline;
  }
}

.footer-join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.footer-join__title {
  color: var(--thirdy-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
