.footer {
  background-color: var(--dark-color);
  padding: 60px 0;
  text-align: center;
}

.footer-join {
  margin-top: 60px;
}

.footer-join__title {
  color: var(--thirdy-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
