.hero {
  background-color: var(--dark-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/phone.jpg');

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/hero/phone@2x.jpg');
  }

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/hero/tablet.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/hero/tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../images/hero/desktop.jpg');
    max-width: 768px;

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/hero/desktop@2x.jpg');
    }
  }
}

.hero__title {
  color: var(--thirdy-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
