.subscribe {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 0;
  }
}

.subscribe__title {
  color: var(--thirdy-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.subscribe__form {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}

.subscribe__input {
  font-size: var(--secondary-font-size);
  line-height: 1.3;
  color: var(--footer-address-color);
  background-color: var(--dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    line-height: 1.3;
    color: var(--footer-address-color);
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
