.team {
  background-color: var(--light-color);
}

.team__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--projects-list-gap));
}