.team-member {
  flex-basis: calc(100% / var(--features-items) - var(--projects-list-gap));
  margin-left: var(--projects-list-gap);
  background: var(--thirdy-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__name {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  text-align: center;
}

.team-member__position {
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
}