.team {
  background-color: var(--light-color);
}

.team__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  margin-bottom: 30px;
  text-align: center;
}
