.works {
  padding-top: 0;
}

.works__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--projects-list-gap));
}

.works__item {
  position: relative;
  flex-basis: calc(100% / var(--projects-items) - var(--projects-list-gap));
  margin-left: var(--projects-list-gap);
}

.works__descr {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--thirdy-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}