:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --thirdy-color: #ffffff;
  --accent-color: #2196f3;
  --dark-color: #2f303a;
  --light-color: #f5f4fa;
  --logo-color: #000000;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --hover-btn-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --icons-color: #afb1b8;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --projects-list-gap: 30px;
  --project-items: 3;
  --features-items: 4;
  --clients-items: 6;
}
